.DS_*
*.log
logs
**/*.backup.*
**/*.back.*
node_modules
*.sublime*
psd
thumb
sketch
.idea
.vscode
.history
.ionide
*.vsix
*.tgz

src
.babelrc
.editorconfig
.prettierrc.js
yarn.lock
pnpm-lock.yaml
pnpm-workspace.yaml
